{% extends 'amcweb/master.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Make an appointment :: AMC Ludhiana{% endblock %}
{% block head_last %}
	<link href="{% static 'amcweb/css/appointment_style.css' %}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block main_content %}
<script type="text/javascript" src="{% static 'amcweb/js/moment.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<div class="banner_inner_content_agile_amcl">

</div>
	<!--//banner -->
<script>
    function readFormFields() {
        fields = $('#appointment-form .form-ele')
        modalData = {};
        fields.map(field => modalData[fields[field].id.substr(3)] = fields[field].value)
        return modalData;
    }

    function formatDate(dateStr) {
        let appointmentDate = new Date(dateStr);
        return  appointmentDate.toDateString() + ' at ' + appointmentDate.toLocaleTimeString().substr(0, 5);
    }

    function populateModal() {
        formData = readFormFields();
        let modalPlaceholders = $('#ModalContent .field_value');
        modalPlaceholders.map(placeholder =>
                $('#' + modalPlaceholders[placeholder].id).text(
                    modalPlaceholders[placeholder].id.substr(4) === 'visiting_on'
                    ? formatDate(formData[modalPlaceholders[placeholder].id.substr(4)])
                    : formData[modalPlaceholders[placeholder].id.substr(4)]
                )
        )
    }
    // TODO validate form
</script>
{% if msg %}
<br>
<br>
<div class="container_1">
    Appointment booked successfully.
    {{ msg.msg }}
    {{ msg.appointment }}
    <a href="appointment" class="submit-button">Book another</a>
</div>
<br>
<br>
{% endif %}
{% if not msg.only %}
<div class="amcls-banner">
	<div class="heading">
		<h1>Appoint My Doctor</h1>
	</div>
    <div class="container_1">
        <div class="heading">
            <h2>Please Enter Patients Details</h2>
            <p>Fill the form below and submit your query we will contact you as soon as possible.</p>
        </div>
        <form id="appointment-form" action="" method="post">
            {% csrf_token %}
            <div class="agile-form">
                <ul class="field-list">
                    <li>
                        <label class="form-label">
                            Already have your patient number?
                        </label>
                        <div class="form-input">
                            {{ form.patient_id|attr:'placeholder:Enter patient number'|add_class:'form-ele' }}
                            <img src="{% static 'amcweb/gifs/amc-loader.gif' %}" id="pat_id_spinner" alt="loading..." height="40px" style="display:none" />
                            <span id="pat_name"></span>
                            <span href="#" id="pat_name_inst" style="display:none">Not you?</span>
                            <span href="#" id="pat_name_inst2" style="display:none">Re-enter correct patient number</span>
                            {{ form.patient_id.errors }}
                        </div>
                    </li>
                    <li>
                        <label class="form-label">
                            Full Name
                            <span class="form-required"> * </span>
                        </label>
                        <div class="form-input">
                            {{ form.name|attr:'placeholder:Enter Patients Name'|add_class:'form-ele' }}
                            {{ form.name.errors }}
                        </div>
                    </li>
                    <li>
                        <label class="form-label">
                           Gender
                           <span class="form-required"> * </span>
                        </label>
                        <div class="form-input">
                            {{ form.gender|add_class:'form-ele' }}
                            {{ form.gender.errors }}
                        </div>
                    <li>
                    <li>
                        <label class="form-label">
                           Year of Birth
                           <span class="form-required"> * </span>
                        </label>
                        <div class="form-input">
                            {{ form.birth_year|add_class:'form-ele' }}
                            {{ form.birth_year.errors }}
                        </div>
                    </li>
                    <li>
                        <label class="form-label">
                           Mobile Number
                           <span class="form-required"> * </span>
                        </label>
                        <div class="form-input">
                            {{ form.contact|attr:'placeholder:Mobile Number'|add_class:'form-ele' }}
                            {{ form.contact.errors }}
                        </div>
                    </li>
                    <li>
                        <label class="form-label">
                           E-Mail Address
                           <!--<span class="form-required"> * </span>-->
                        </label>
                        <div class="form-input">
                            {{ form.email|attr:'placeholder:myname@example.com'|add_class:'form-ele' }}
                            {{ form.email.errors }}
                        </div>
                    </li>
                    <li>
                        <label class="form-label">
                           Visiting on
                           <span class="form-required"> * </span>
                        </label>
                        <div class="form-input">
                            <div id="DateTimePicker">
                                <div class="col-sm-6" style="padding:0">
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker11'>
                                            {{ form.visiting_on|add_class:'form-control'|attr:'placeholder:MM/DD/YYYY hh:mm'|add_class:'form-ele' }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#datetimepicker11').datetimepicker({
                                            daysOfWeekDisabled: [0],
                                            format: 'MM/DD/Y HH:mm',
                                        });
                                    });
                                </script>
                            </div>
                            {{ form.visitin_on.errors }}
                        </div>
                    </li>
                    <li>
                        <label class="form-label">
                            Appointment type
                            <span class="form-required"> * </span>
                        </label>
                        <div class="form-input">
                            {{ form.purpose|add_class:'form-ele' }}
                            {{ form.purpose.errors }}
                        </div>
                    </li>
                    <li>
                        <label class="form-label1">
                            Mention any comments here. (optional)
                        </label>
                        <div class="form-input2">
                            {{ form.comment|attr:'rows:3'|attr:'placeholder:For ex: Mention any prolonged illness patient might be suffering from.'|add_class:'form-ele' }}
                            {{ form.comment.errors }}
                        </div>
                    </li>
                </ul>
                <a href="#" data-toggle="modal" class="submit-button" data-target="#myModal" onclick="populateModal()">Book appointment</a>
            </div>
            <!-- modal -->
            <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		        <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            Confirm appointment details
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                            <div class="modal-body">
                                <img src="{% static 'amcweb/images/gs7.jpg' %}" alt="Appointment confirmation image" class="img-responsive" />
                                <p id="ModalContent">
                                    <!-- Do not change the IDs of the following spans. Used to populate data. -->
                                    <span class="field_value" id="mdl_name">No data</span> &nbsp;
                                    (#<span class="field_value" id="mdl_patient_id">No data</span>)
                                    <br>
                                    booking an appointment on
                                    <br>
                                    <strong>
                                        <span class="field_value" id="mdl_visiting_on" style="font-size: 2em;">No data</span>
                                    </strong>
                                    <br>
                                    for
                                    <strong>
                                        <span class="field_value" id="mdl_purpose" style="font-size: 1.2em;">No data</span>
                                    </strong>
                                    <br>
                                    Your details are as follows:
                                    <br>
                                    <span class="field_value" id="mdl_gender">No data</span>
                                    <span class="field_value" id="mdl_birth_year">No data</span>
                                    <span class="field_value" id="mdl_contact">No data</span>
                                    <span class="field_value" id="mdl_email">No data</span>
                                    <br>
                                    <span class="field_value" id="mdl_comment">No data</span>
                                </p>
                                <input id="appointment_submit" visibile="false" type="submit" value="Confirm Appointment">
                            </div>
                    </div>
		        </div>
	        </div>
            <!-- //modal -->
        </form>
        <script>
            $('#pat_id_spinner').hide();
            $('#id_patient_id').on('blur', () => {
                $('#pat_name').text('');
                $('#pat_name_inst').hide();
                $('#pat_name_inst2').hide();

                const pat_id = $('#id_patient_id').val();
                if(pat_id != '') {
                    $('#pat_id_spinner').show();
                    $.get('/api/patient/' + pat_id,
                    resp => {
                        $('#pat_name').text(resp['name']);
                        $('#pat_name_inst').show();
                        }, 'json')
                    .done(() => {})
                    .fail(() => {
                        $('#pat_name').text(`Wrong patient number ${pat_id}`);
                        $('#id_patient_id').val('');
                        })
                    .always(() => $('#pat_id_spinner').hide());
                }
            });

            $('#pat_name_inst').on('click', () => {
                $('#id_patient_id').val('');
                $('#pat_name_inst').hide()
                $('#pat_name_inst2').show()
                $('#pat_name').text('');

            });
        </script>
    </div>
</div>
{% endif %}

{% endblock %}
<!-- TODO: do not allow past dates -->
