{% extends 'amcweb/master.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Make an appointment :: AMC Ludhiana{% endblock %}
{% block head_last %}
	<link href="{% static 'amcweb/css/appointment_style.css' %}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block main_content %}
<script type="text/javascript" src="{% static 'amcweb/js/moment.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<div class="banner_inner_content_agile_amcl">

</div>
	<!--//banner -->
<div class="amcls-banner">
	<div class="heading">
		<h1>Appoint My Doctor</h1>
	</div>
    <div class="container_1">
        <div class="heading">
            <h2>Please Enter Patients Details</h2>
            <p>Fill the form below and submit your query we will contact you as soon as possible.</p>
        </div>
        <form id="appointment-form" action="" method="post">
            {% csrf_token %}
            <div class="agile-form">
                <ul class="field-list">
                    <li class="existing-patient">
                        <label class="form-label">
                            Already have your patient number?
                        </label>
                        <div class="form-input">
                            {{ form.patient_id|attr:'placeholder:Enter patient number' }}
                            {{ form.patient_id.errors }}
                        </div>
                    </li>
                    <li class="non-existing-patient">
                        <label class="form-label">
                            Full Name
                            <span class="form-required"> * </span>
                        </label>
                        <div class="form-input">
                            {{ form.name|attr:'placeholder:Enter Patients Name' }}
                            {{ form.name.errors }}
                        </div>
                    </li>
                    <li class="non-existing-patient">
                        <label class="form-label">
                           Gender
                           <span class="form-required"> * </span>
                        </label>
                        <div class="form-input">
                            {{ form.gender }}
                            {{ form.gender.errors }}
                        </div>
                    <li>
                    <li class="non-existing-patient">
                        <label class="form-label">
                           Year of Birth
                           <span class="form-required"> * </span>
                        </label>
                        <div class="form-input">
                            {{ form.birth_year }}
                            {{ form.birth_year.errors }}
                        </div>
                    </li>
                    <li class="non-existing-patient">
                        <label class="form-label">
                           Mobile Number
                           <span class="form-required"> * </span>
                        </label>
                        <div class="form-input">
                            {{ form.contact|attr:'placeholder:Mobile Number' }}
                            {{ form.contact.errors }}
                        </div>
                    </li>
                    <li class="non-existing-patient">
                        <label class="form-label">
                           E-Mail Address
                           <!--<span class="form-required"> * </span>-->
                        </label>
                        <div class="form-input">
                            {{ form.email|attr:'placeholder:myname@example.com' }}
                            {{ form.email.errors }}
                        </div>
                    </li>
                    <li>
                        <label class="form-label">
                           Visiting on
                           <span class="form-required"> * </span>
                        </label>
                        <div class="form-input">
                            <div id="DateTimePicker">
                                <div class="col-sm-6" style="padding:0">
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker11'>
                                            {{ form.visiting_on|add_class:'form-control'|attr:'placeholder:MM/DD/YYYY hh:mm' }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#datetimepicker11').datetimepicker({
                                            daysOfWeekDisabled: [0],
                                            format: 'MM/DD/Y HH:mm',
                                        });
                                    });
                                </script>
                            </div>
                            {{ form.visitin_on.errors }}
                        </div>
                    </li>
                    <li>
                        <label class="form-label">
                            Appointment type
                            <span class="form-required"> * </span>
                        </label>
                        <div class="form-input">
                            {{ form.purpose }}
                            {{ form.purpose.errors }}
                        </div>
                    </li>
                    <li>
                        <label class="form-label1">
                            Mention any comments here. (optional)
                        </label>
                        <div class="form-input2">
                            {{ form.comment|attr:'rows:3'|attr:'placeholder:For ex: Mention any prolonged illness patient might be suffering from.' }}
                            {{ form.comment.errors }}
                        </div>
                    </li>
                </ul>
                <input type="submit" value="Book Appointment">
            </div>
        </form>
    </div>
</div>
	<!-- bootstrap-modal-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					New Clinic
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
					<div class="modal-body">
						<img src="{% static 'amcweb/images/g7.jpg' %}" alt=" " class="img-responsive" />
						<p>Ut enim ad minima veniam, quis nostrum 
							exercitationem ullam corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi consequatur? Quis autem 
							vel eum iure reprehenderit qui in ea voluptate velit 
							esse quam nihil molestiae consequatur, vel illum qui 
							dolorem eum fugiat quo voluptas nulla pariatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
								esse quam nihil molestiae consequatur.</i></p>
					</div>
			</div>
		</div>
	</div>
<!-- //bootstrap-modal-pop-up --> 
{% endblock %}
