{% extends 'amcweb/master.html' %}
{% load static %}

{% block title%}
This is a title test bro
{% endblock %}

{% block main_content %}
	<!-- banner -->
    <div class="top-message" id="top_msg" style="background-color: {{ err|yesno:'red,forestgreen,orange' }};">
        {{ msg }}
        {% if msg %}
                <span close-target="top_msg" class="msg-close-btn">&times;</span>
        {% endif %}
        {% if err %}
            {% if err and form %}
                <script>
                    function populateForm() {
                        $('#ff_email').val('{{ form.email }}');
                        $('#ff_name').val('{{ form.name }}');
                    }
                    $(document).ready(() => {
                        populateForm();
                    })
                </script>
            {% endif %}
        {% endif %}
    </div>

	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" class=""></li>
			<li data-target="#myCarousel" data-slide-to="2" class=""></li>
			<li data-target="#myCarousel" data-slide-to="3" class=""></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="container">
					<div class="carousel-caption">
						<h3><span></span></h3>
						<p></p>
						<h6></h6>
					</div>
				</div>
			</div>
			<div class="item item2">
				<div class="container">
					<div class="carousel-caption">
						<h3>With a Touch of <span>nature.</span></h3>
						<p>Child Care Treatments</p>
						<h6>Our Medical Center is the preferred choice for diplomats and employees from 64 embassies, consulates and UN agencies, as well as private patients from over 60 countries.</h6>
					</div>
				</div>
			</div>
			<div class="item item3">
				<div class="container">
					<div class="carousel-caption">
						<h3>With a Touch of <span>nature.</span></h3>
						<p>Child Care Treatments</p>
						<h6>Our Medical Center is the preferred choice for diplomats and employees from 64 embassies, consulates and UN agencies, as well as private patients from over 60 countries.</h6>
					</div>
				</div>
			</div>
			<div class="item item4">
				<div class="container">
					<div class="carousel-caption">
						<h3>With a Touch of <span>nature.</span></h3>
						<p>Child Care Treatments</p>
						<h6>Our Medical Center is the preferred choice for diplomats and employees from 64 embassies, consulates and UN agencies, as well as private patients from over 60 countries.</h6>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="fa fa-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="fa fa-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<!-- The Modal -->
	</div>
	<!--//banner -->
	<!-- about -->
	<div class="agile-about amcls-section">
	<!-- about-bottom -->
	<div class="agileits-about-btm">
	<h3 class="heading-agileinfo">Ayurveda Multispeciality Centre<span>We offer extensive medical procedures to outbound and inbound patients.</span></h3>
		<div class="container">
			<div class="amc-flex">
			<div class="col-md-4 col-sm-4 ab1 agileits-about-grid1">
				<h4 class="agileinfo-head">For Adults</h4>
				<p>You can call our highly experienced clinical team if your child, teenager or family is going through difficulties.</p>
				<h5>ANXIETY </h5>
				<h5>DEPRESSION</h5>
				<h5>ADHD </h5>
				<h5>BIPOLAR DISORDER</h5>
				<h5>A – Z OF ISSUES</h5>
			</div>
			<div class="col-md-4 col-sm-4 ab1 agileits-about-grid2">
				
				<h4 class="agileinfo-head">For Children</h4>
				<p>You can call our highly experienced clinical team if your child, teenager or family is going through difficulties.</p>
				<h5>ADHD </h5>
				<h5>ASPERGERS AND AUTISM</h5>
				<h5>DEPRESSION</h5>
				<h5>ANXIETY DISORDERS</h5>
				<h5>A – Z OF ISSUES</h5>
			</div>
			<div class="col-md-4 col-sm-4 ab1 agileits-about-grid3">
				
				<h4 class="agileinfo-head">For Business</h4>
				<p>You can call our highly experienced clinical team if your child, teenager or family is going through difficulties.</p>
				<h5>MEDICO LEGAL REPORTS </h5>
				<h5>OCCUPATIONAL HEALTH</h5>
				<h5>LOCUMS AND STAFFING</h5>
				<h5>NEUROPSYCHOLOGICAL ASSESSMENTS</h5>
				<h5>MENTAL CAPACITY ASSESSMENTS</h5>
			</div>
			<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //about-bottom -->
</div>
    <!-- emergency -->
    <div class="emergency_cases_amcls">
    <div class="emergency_cases_bt">
        <div class="container">
        <div class="emergency_cases_top">
            <div class="col-md-6 emergency_cases_amcls_left">
                <h4>Opening Hours</h4>
                <h6>Monday - Friday&nbsp;<span class="eme">8.00 - 18.00</span></h6>
                <h6>Monday - Saturday&nbsp;<span class="eme">9.00 - 17.00</span></h6>
                <h6>Monday - Sunday&nbsp;<span class="eme">9.00 - 15.00</span></h6>
            </div>
            <div class="col-md-6 emergency_cases_amcls_right">
                <h4>Emergency Cases</h4>
                <h5><i class="fa fa-phone" aria-hidden="true"></i>1230456789</h5>
                <p>Your treatment plan is designed for steady progress, with every phase promptly implemented.</p>
            </div>

            <div class="clearfix"></div>
            </div>
        </div>
        </div>
    </div>
    <!-- //emergency -->
    <!-- services -->
    <div class="services">
    <div class="container">
            <h3 class="heading-agileinfo">Therapies & Treatments<span>We offer extensive medical procedures to outbound and inbound patients.</span></h3>

            <div class="services-top-grids">
                <div class="col-md-4">
                    <div class="grid1">
                        <i class="fa fa-heartbeat" aria-hidden="true"></i>
                        <h4>Anxiety</h4>
                        <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="grid1">
                        <i class="fa fa-user-md" aria-hidden="true"></i>
                        <h4>Executive Coaching</h4>
                        <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="grid1">
                        <i class="fa fa-wheelchair-alt" aria-hidden="true"></i>
                        <h4>Depression</h4>
                        <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="services-bottom-grids">
                <div class="col-md-4">
                    <div class="grid1">
                        <i class="fa fa-medkit" aria-hidden="true"></i>
                        <h4>Relationships</h4>
                        <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="grid1">
                        <i class="fa fa-hospital-o" aria-hidden="true"></i>
                        <h4>Stress Management</h4>
                        <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="grid1">
                        <i class="fa fa-ambulance" aria-hidden="true"></i>
                        <h4>Support Group</h4>
                        <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //services -->
    <!-- Clients -->
    <div class="tesimonials">
    <div class="tesimonials_tp">
            <div class="container">
                <div class="tittle_head_Sodhis">
                    <h3 class="heading-agileinfo te">What Clients Say<span class="te">We offer extensive medical procedures to outbound and inbound patients.</span></h3>
                </div>
                <div class="inner_sec_info_agileits_amc">
                    <div class="test_grid_sec">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="carousel slide two" data-ride="carousel" id="quote-carousel">
                                <!-- Bottom Carousel Indicators -->
                                <ol class="carousel-indicators two">
                                    <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#quote-carousel" data-slide-to="1"></li>
                                    <li data-target="#quote-carousel" data-slide-to="2"></li>
                                </ol>

                                <!-- Carousel Slides / Quotes -->
                                <div class="carousel-inner">

                                    <!-- Quote 1 -->
                                    <div class="item active">
                                        <blockquote>
                                            <div class="test_grid">
                                                <div class="col-sm-3 text-center test_img">
                                                    <img src="{% static 'amcweb/images/ts1.jpg' %}" alt=" " class="img-responsive" />

                                                </div>
                                                <div class="col-sm-9 test_img_info">
                                                    <p>Maecenas quis neque libero. Class aptent taciti.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                                                        auctor nec lacus ut tempor. Mauris.</p>
                                                    <h6>Sara Lisbon</h6>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                    <!-- Quote 2 -->
                                    <div class="item">
                                        <blockquote>
                                            <div class="test_grid">
                                                <div class="col-sm-3 text-center test_img">
                                                    <img src="{% static 'amcweb/images/ts2.jpg' %}" alt=" " class="img-responsive" />
                                                </div>
                                                <div class="col-sm-9 test_img_info">
                                                    <p>Lorem ipsum dolor sit amet. Class aptent taciti.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                                                        auctor nec lacus ut tempor. Mauris.</p>
                                                    <h6>Jane Wearne</h6>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                    <!-- Quote 3 -->
                                    <div class="item">
                                        <blockquote>
                                            <div class="test_grid">
                                                <div class="col-sm-3 text-center test_img">
                                                    <img src="{% static 'amcweb/images/ts3.jpg' %}" alt=" " class="img-responsive" />
                                                </div>
                                                <div class="col-sm-9 test_img_info">
                                                    <p>Maecenas quis neque libero. Class aptent taciti.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                                                        auctor nec lacus ut tempor. Mauris.</p>
                                                    <h6>Alice Williams</h6>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>

                                <!-- Carousel Buttons Next/Prev -->
                                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="banner-bottom">
		<div class="container">
			<div class="tittle_head_Sodhis">
				<h3 class="heading-agileinfo">Case Studies<span>We offer extensive medical procedures to outbound and inbound patients.</span></h3>
			</div>
			<div class="inner_sec_info_agileits_amc">
				<div class="col-md-4 grid_info">
					<div class="icon_info">
						<img src="{% static 'amcweb/images/g4.jpg' %}" alt=" " class="img-responsive">
						<h5>Nutrition Reference</h5>
						<p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
						<a href="#" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a>
					</div>
				</div>
				<div class="col-md-4 grid_info">
					<div class="icon_info">
						<img src="{% static 'amcweb/images/g7.jpg' %}" alt=" " class="img-responsive">
						<h5>Injury Prevention</h5>
						<p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
						<a href="#" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a>
					</div>
				</div>
				<div class="col-md-4 grid_info">
					<div class="icon_info">
						<img src="{% static 'amcweb/images/g6.jpg' %}" alt=" " class="img-responsive">
						<h5>Catheterization Lab</h5>
						<p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
						<a href="#" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="banner-bottom">
		<div class="container">
			<div class="tittle_head_Sodhis">
				<h3 class="heading-agileinfo">
					Ayurveda in your inbox
					<span>
						Get the power of ayurveda right into your inbox by subscribing to our newsletter.
					</span>
				</h3>
			</div>
            <form action="{% url 'amcweb:index' %}" method="POST" id="frm_subscribe">
                {% csrf_token %}
                <img src="{% static 'amcweb/icons/mail.png' %}" alt="Email" class="sub-icon" height="40" />
                <h4>
                    Subscribe to the get articles in your e-mail
                </h4>
                <input type="hidden" name="type" value="subscribe" />
                <input type="text" id="ff_name" name="name" placeholder="Full Name" required/>
                <input type="email" id="ff_email" name="email" placeholder="Your email address" required/>
                <input type="tel" id="ff_phone" name="phone" placeholder="Phone number (optional)" />
                <br>
				<input type="submit" value="Subscribe" class="subscribe-button" id="btn_subscribe" />
                <img src="{% static 'amcweb/gifs/amc-loader.gif' %}" id="subscribe_spinner" alt="loading..." height="40px" style="display:none" />
            </form>
            <form action="{% url 'amcweb:index' %}" method="POST" id="frm_whatsapp">
                {% csrf_token %}
                <img src="{% static 'amcweb/icons/whatsapp.png' %}" alt="Whatsapp" class="sub-icon" height="40" />
                <h4>Subscribe for important announcements on whatsapp</h4>
                <input type="hidden" name="type" value="whatsapp_subscribe" />
                <input type="text" id="ff_name1" name="name" placeholder="Full Name" required/>
                <input type="tel" id="ff_phone_whatsapp" name="phone" placeholder="Whatsapp number" required/>
                <br>
				<input type="submit" value="Subscribe" class="subscribe-button" id="btn_whatsapp" />
                <img src="{% static 'amcweb/gifs/amc-loader.gif' %}" id="whatsapp_spinner" alt="loading..." height="40px" style="display:none" />
            </form>
            <div class="clearfix"> </div>
			</div>
		</div>
	</div>
    <script>
        $('#frm_subscribe').on('submit', e => $('#subscribe_spinner').show());
        $('.msg-close-btn').on('click', e => {
            msg_to_close = e.target.attributes['close-target'].value;
            $(`#${msg_to_close}`).hide();
            });
    </script>

	<!-- modal -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					New Clinic
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
					<div class="modal-body">
						<img src="{% static 'amcweb/images/g7.jpg' %}" alt=" " class="img-responsive" />
						<p>Ut enim ad minima veniam, quis nostrum 
							exercitationem ullam corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi consequatur? Quis autem 
							vel eum iure reprehenderit qui in ea voluptate velit 
							esse quam nihil molestiae consequatur, vel illum qui 
							dolorem eum fugiat quo voluptas nulla pariatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
								esse quam nihil molestiae consequatur.</i></p>
					</div>
			</div>
		</div>
	</div>
<!-- //modal -->
{% endblock %}
