
.sub-email {
    height: 40px;
    width: 33%;
    margin: 10px 0 0 33%;
    max-width: 400px;
    padding: 5px;
}
.top-message {
    text-align: center;
    background: orange;
    line-height: 2em;
    color: white;
    font-size: 1.2em;
}
#frm_subscribe input[type=submit] {
    width: 10%;
    min-width: 150px;
    height: 30px;
    margin: 10px 0 0 45%;
}
.msg-close-btn {
    float: right;
    font-size: 1.5em;
    margin-right: 10px;
}
.msg-close-btn:hover {
    opacity: .7;
    cursor: pointer;
}
