
.sub-email {
    height: 40px;
    width: 33%;
    margin-left: 33%;
    max-width: 400px;
    padding: 5px;
}
.top-message {
    text-align: center;
    background: orange;
    line-height: 2em;
    color: white;
    font-size: 1.2em;
}
